h1 {
	color: blue;
	margin-bottom: 5px;
}

.Character_Container {
	margin-top: 20px;
	padding: 10px;
	border: solid 2px black;
	box-sizing: border-box;
}

.Character {
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	border: solid 2px black;
	box-sizing: border-box;
}

.Stat_Container {
	margin-left: 10px;
}

.Stat_ID {
	display: inline-block;
}
.Stat_Prob, .Stat_Var {
	width: 30px;
}


.Item_Container {
	margin-top: 10px;
	margin-left: 10px;
	
	/*border: solid 2px black;*/
	box-sizing: border-box;
}

.Item {
	margin-top: 10px;
	margin-left: 10px;
	
	border: solid 1px black;
	box-sizing: border-box;
}

.Template, .Hidden {
	display: none
}



.Label {
	font-weight: bold;
	display: inline-block;
}

.Add, .Del {
	border-radius: 20%;
	width: 13px;
	text-align: center;
	border: solid black 1px;
	display: inline-block;
}
.Add:hover, .Del:hover {
    cursor: pointer;
}
.Add::before { content: "+"; }
.Del::before { content: "-"; }

.Roll {
	
}

.Main_Content {
	margin-right: 25%;
}

.Log_Column {
	width: 25%; 
	padding-left: 10px;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow: hidden;
	box-sizing: border-box;
	border-left: solid black 1px;
}
.Log {
	margin-top: 5px;
	background: lightgrey;
	height: 80%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 10pt;
	overflow-y: scroll;
}
/*
textarea {
	min-height: 20pt;
}
*/

